.containerDoctorList {
  width: 100%;
  height: 5rem;
  background: var(--white);
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.containerDoctorList + .containerDoctorList{
  margin-top: 1rem;
}

.contentDoctorListInfo {
  display: flex;
  flex-direction: column;
}