.containerSearch{
  width: 100%;
  height: 2.14rem;
  display: flex;
  justify-content: center;
  border: 1px solid var(--gray-200) 
}

.searchInput {
  width:  100%;
  padding: 0.25rem;
  cursor: not-allowed;
  border: none;
}

.searchBtn {
  border: none;
  background: transparent;
}

.searchBtn svg{
  cursor: not-allowed;
}