.sidebar{
  width: 5.57rem;
  height: calc(100vh - 86px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--green-200);
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
  overflow: hidden;
}

.open {
  width: 16.25rem;
  align-items: flex-start;
}

.open .sidebarMenuItem a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 16.25rem;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 21px;
  color: var(--green-500);
  transition: background-color .3s ease-out, box-shadow .3s ease-out;
  text-decoration: none;
}

.sidebarContentBtn {
  margin: 1rem;
  padding: 0 10px;
  
}

.sidebarContentBtnMenu {
  border: none;
  background: transparent;
  cursor: pointer;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  width: 100%;
}

.sidebarMenuItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.sidebarMenuItem a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--green-500);
  transition: background-color .3s ease-out, box-shadow .3s ease-out;
  text-decoration: none;
  gap: 2rem;
}

.sidebarMenuItem:hover {
  background: #F7F9F9;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.tooltipContent{
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1;
  color: var(--gray-500);
  background-color: #FFFAF1;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

@media (max-width: 880px) {
  .sidebar {
    background-color: transparent;
    box-shadow: none;
    height: 3.375rem;
  }
  .open {
    height: calc(100vh - 86px);
  }
  .sidebarMenu {
    justify-content: flex-start;
  }
}