.container{
  width: 100%;
}

.content{
  display: flex;
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main1 {
  flex: 2;
  background: white;
  padding: 3rem;
}

.main2 {
  flex: 1;
  padding: 2rem
}

.containerDashboard {
  width: 100%;
  padding-top: 3rem;
}

.contentDashboard{
  width: 100%;
  display: flex;
}

.previsao{
  flex: 1;
  background: #F7F9F9;
  padding: 1rem;
}

.infoQueries {
  display: flex;
  flex-direction: column;
}

.infoQueries p + p {
  margin-top: 2rem;
}

.previsao2{
  flex: 1;
  margin-left: 2rem;
}

.infoConsulting {
  background: #F7F9F9;
  padding: 1rem;
}

.infoConsultingItem{
  display: flex;
  align-items: center;
  gap: 0.50rem;
}

.infoConsulting + .infoConsulting{
  margin-top: 2rem
}

.infoConsultingItem + .infoConsultingItem{
  margin-top: 1rem;
}

.infoDoctorAttending{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoDoctorAttending + .infoDoctorAttending{
  margin-top: 0.5rem;
}

.containerAviso {
  width: 100%;
  padding-top: 3rem;
}

table {
  border: 2px solid forestgreen;
  width: 100%;
  height: 200px;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}

.calendarContainer {
  width: 100%;
  display: flex;
}

.calendarContainer + .calendarContainer{
  padding-top: 2rem;
}

.contentDoctor{
  width: 100%;
  height: 26.8rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}