.container {
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.consult {
  flex: 1;
  background: white;
  padding: 3rem;
}

.headerConsult {
  width: 100%;
  display: flex;
  align-items: center;
}

.searchConsult {
  flex:1;
}

.advancedFilterConsult {
  flex: 1;
}

.advancedFilterConsult .advancedFilterBtn {
  width: 100%;
  height: 2.14rem;
  border: none;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.advancedFilterBtn svg {
  cursor: not-allowed;
}

.containerAlert {
 padding-top: 3rem; 
}

.table {
  border: 2px solid forestgreen;
  width: 100%;
  height: 200px;
}

.th {
  border-bottom: 1px solid black;
}

.td {
  text-align: center;
}


@media(max-width: 880px){
  .content {
    flex-direction: column;
  }
  .consult {
    padding: 1rem;
  }
  .containerAviso {
    padding-top: 2rem; 
  }
}
