.container{
  width: 100%;
}

.content{
  display: flex;
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.columnA {
  flex: 1;
  padding: 2rem;
}

.calendarContainer {
  width: 100%;
  display: flex;
}

.calendarContainer + .calendarContainer{
  padding-top: 2rem;
}

.contentDoctor{
  width: 100%;
  height: 26.8rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.columnB {
  flex: 2;
  background: white;
  padding: 3rem
}

.contentScheduling {
  width: 100%;
  height: 42.79rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.modalOverlay {
  width: 100%;
  height: 100%;
  background: #DCE9E2;
  opacity: 0.5;
  position: fixed;
  inset: 0;
}

.modalContent{
  position: absolute;
  padding: 2.5rem;
  background: white;
  width: 100%;
  max-width: 28rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalClose{
  position: absolute;
  top:  3%;
  right: 3%;
  color: var(--green-500);
  background: transparent;
  border: none;
}

@media(max-width: 880px){
  .content {
    flex-direction: column;
  }
  .main{
    flex-direction: column;
  }
  .columnA{
    padding: 1rem;
  }
  .columnB{
    padding: 1rem;
  }
  .calendarContainer + .calendarContainer{
    padding-top: 1rem;
  }
}